
/* Table Base */

table {
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-responsive { 
  width: 100%;
  margin-bottom: 20px;
}

.table-responsive th,
.table-responsive td {
  font-weight: normal;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table-responsive thead th {
  background: #eeeeee;
  vertical-align: bottom;
}   
.table-responsive tbody > tr:nth-child(odd) > td,
.table-responsive tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}    
.table-responsive .t-small {
  width: 5%;
}
.table-responsive .t-medium {
  width: 15%;
}
.table-responsive .t-status {
  font-weight: bold;
}
.table-responsive .t-active {
  color: #46a546;
}
.table-responsive .t-inactive {
  color: #e00300;
}
.table-responsive .t-draft {
  color: #f89406;
}
.table-responsive .t-scheduled {
  color: #049cdb;
}

/* Small Sizes */
@media (max-width: 480px) { 
  .table-responsive-action thead {
    display: none;
  }
  .table-responsive-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-responsive-action td {
    border: 0;
  }
  .table-responsive-action td:not(:last-child) {
    display: block;
  }
}